---
export interface Props extends HTMLAttributes<"body"> {
    title?: string;
    lang?: string;
    baseUrl?: string;
}

const { title, lang, baseUrl, ...rest }: Props = Astro.props;

const base = baseUrl || "/";
---

<!doctype html>
<html lang={lang || "en"}>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/png" href={`${base}favicon-96x96.png`} sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href={`${base}favicon.svg`} />
        <link rel="shortcut icon" type="image/svg+xml" href={`${base}favicon.svg`} />
        <link rel="apple-touch-icon" sizes="180x180" href={`${base}apple-touch-icon.png`} />
        <meta name="apple-mobile-web-app-title" content="EmailGen" />
        <link rel="manifest" href={`${base}site.webmanifest`} />
        {title && <title>{title}</title>}
    </head>
    <body {...rest}>
        <slot />
    </body>
</html>
